{% extends "base.html" %}
{%  block content %}
    <div class="container-fluid" style="width: 70%;">
    <br>
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <h1>An unexpected error has occured</h1>
                <p>Администратор уже знает о проблеме.</p>
                <p><a href="{{ url_for('collection.index', username=current_user.username) }}">Вернуться на главную</a></p>
            </div>
        </div>
    </div>   

{% endblock content %}