div.reg-but {
    margin-top: 12px;
}

.forms {
    margin-top: 10%;
}

.title-body {
    height: 5rem;
    overflow: hidden;
}

.card-columns {
    display: inline-block;
    @include media-breakpoint-only(md) {
        column-count: 5;
    }
    @include media-breakpoint-only(lg) {
        column-count: 6;
    }
    @include media-breakpoint-only(xl) {
        column-count: 7;
    }
}

.search-form {
    margin: 25px 0px 15px 0px;
}