div.reg-but {
    margin-top: 12px;
}

.forms {
    margin-top: 10%;
}

.title-body {
    height: 5rem;
    overflow: hidden;
}

.card-columns {
    display: inline-block;
    max-width: 50rem;
}

.main-block {
    border-left-width: 1.5px;
    border-left-style: solid;
    border-left-color: #42424248;
    border-right-width: 1.5px;
    border-right-style: solid;
    border-right-color: #42424248;

}

.search-form {
    margin: 15px 0px 15px -15px;
    padding: 0px 0px 0px 15px;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: #42424248;
}

.cards {
    background-color: #fff;
}

.info {
    margin-top: 15px;
}