{% extends "base.html" %}
{% block content %}
    <div class="container-fluid" style="width: 70%;">
        <br>
        <div class="forms">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="border-bottom">
                        <h1>{{ login_title }}</h1>
                    </div>
                    {% include "messages.html" %}
                    <div>
                        <form action="{{ url_for('user.process_login') }}" method="post">
                            {{ login_form.hidden_tag() }}
                            <div class="form-group">
                                {{ login_form.username.label }}
                                {{ login_form.username() }}
                            </div>
                            <div class="form-group">
                                {{ login_form.password.label }}
                                {{ login_form.password() }}
                            </div>
                            <div class="form-group form-check">
                                {{ login_form.remember_me() }}
                                {{ login_form.remember_me.label(class_='form-check-label') }}
                            </div>
                            {{ login_form.submit }}
                        </form>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <div class="border-bottom">
                        <h1>{{ registration_title }}</h1>
                    </div>
                    {% include "messages.html" %}
                    <div>
                        <form action="{{ url_for('user.process_registration') }}" method="post">
                            {{ registration_form.hidden_tag() }}
                            <div class="form-group">
                                {{ registration_form.username.label }}
                                {{ registration_form.username() }}
                            </div>
                            <div class="form-group">
                                {{ registration_form.first_name.label }}
                                {{ registration_form.first_name() }}
                            </div>
                            <div class="form-group">
                                {{ registration_form.last_name.label }}
                                {{ registration_form.last_name() }}
                            </div>
                            <div class="form-group">
                                {{ registration_form.email.label }}
                                {{ registration_form.email() }}
                            </div>
                            <div class="form-group">
                                {{ registration_form.password.label }}
                                {{ registration_form.password() }}
                            </div>
                            <div class="form-group">
                                {{ registration_form.submit_password.label }}
                                {{ registration_form.submit_password() }}
                            </div>
                            {{ registration_form.submit }}
                        </form>
                    </div>
                </div>
            </div>
        </div>     
</div>       
{% endblock content %}