{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" style="max-width: 70%;">
        <title>{{title}}</title>
        {% include "messages.html" %}
        <div class="row">
            <div class="col-3">
                {% include "user/_user_info.html" %}
            </div>
            <div class="col-9 main-block">
                <div class="search-form">
                    <form action="{{ url_for('collection.process_collecting')}}" method="POST">
                        <div class="form-row">
                            {{ url_form.hidden_tag() }}

                            <div class="col-10">
                                <div class="form-group">
                                    <!-- {{ url_form.url.label }} -->
                                    {{ url_form.url() }}
                                </div>
                            </div>

                            <div class="col-auto">
                                {{ url_form.submit }}
                            </div>
                        </div>
                    </form>
                </div>
                <h2>Ваша коллекция</h2>
                <div class="card-columns cards">
                    {% for bookmark in collection %}
                        {% if bookmark.image_url is none %}
                            <div class="card">
                                <div class="card-header bg-transparent">
                                    <a href="{{ bookmark.url }}" class="btn btn-primary btn-sm" target="_blank"><small>{{ bookmark.base_url }}</small></a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title title-body">{{ bookmark.title }}</h6>
                                </div>
                                <div class="card-footer bg-transparent">

                                    <div class="container">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <!-- likes -->
                                                <!-- <a class="btn btn-link btn-sm" href="#" role="button"><i class="fas fa-thumbs-up fa-lg"></i></a> -->
                                                <a class="btn btn-link btn-sm" href="#" role="button"><i class="far fa-thumbs-up fa-lg"></i></a>
                                            </div>
                                            <div class="col-auto">
                                                <!-- comments -->
                                                <!-- <a class="btn btn-link btn-sm" href="#" role="button"><i class="fas fa-sticky-note fa-lg"></i></a> -->
                                                <a class="btn btn-link btn-sm" href="{{ url_for('collection.get_single_bookmark_page', bookmark_id=bookmark.id) }}" role="button"><i class="far fa-sticky-note fa-lg"></i></a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="delete">
                                                    <a class="btn btn-link btn-sm" href="#" role="button"><i class="far fa-trash-alt fa-lg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% else %}
                            
                            <div class="card">
                                <img src="{{ bookmark.image_url }}" class="card-img-top card-img" alt="...">
                                <div class="card-img-overlay">
                                    <a href="{{ bookmark.url }}" class="btn btn-primary btn-sm" target="_blank"><small>{{ bookmark.base_url }}</small></a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title title-body">{{ bookmark.title }}</h6>
                                    <!-- <p class="card-text">{{ bookmark.description }}</p> -->
                                </div>
                                <div class="card-footer bg-transparent">

                                    <div class="container">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <!-- <a class="btn btn-link btn-sm" href="#" role="button"><i class="fas fa-thumbs-up fa-lg"></i></a> -->
                                                <a class="btn btn-link btn-sm" href="#" role="button"><i class="far fa-thumbs-up fa-lg"></i></a>
                                            </div>
                                            <div class="col-auto">
                                                <!-- <a class="btn btn-link btn-sm" href="#" role="button"><i class="fas fa-sticky-note fa-lg"></i></a> -->
                                                <a class="btn btn-link btn-sm" href="{{ url_for('collection.get_single_bookmark_page', bookmark_id=bookmark.id) }}" role="button"><i class="far fa-sticky-note fa-lg"></i></a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="delete">
                                                    <a class="btn btn-link btn-sm" href="#" role="button"><i class="far fa-trash-alt fa-lg"></i></a>
                                                    <!-- <p class="text-right"><small>Удалить</small></p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content%}