{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" style="max-width: 60%;">
        <title>{{title}}</title>
        {% include "messages.html" %}
        <div class="row">
            <div class="col-3">
                <table class="info">
                    <tr>
                        <td><img src="{{ user.avatar(196) }}"></td>
                        
                    </tr>
                    <tr>
                        <td>
                            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                            <h6>{{ user.username }}</h6>

                            {% if user.about_me is not none %}
                                <h6>{{ user.about_me }}</h6>
                            {% endif %}

                            {% if user.username == current_user.username %}
                                <p><a class="btn btn-outline-dark btn-sm btn-block" href="{{ url_for('user.edit_profile')}}" role="button">Изменить профиль</a></p>
                            {% endif %}
                            
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-9 main-block">
                <div class="search-form">
                    <form action="{{ url_for('collection.process_collecting')}}" method="POST">
                        <div class="form-row">
                            {{ url_form.hidden_tag() }}

                            <div class="col-10">
                                <div class="form-group">
                                    <!-- {{ url_form.url.label }} -->
                                    {{ url_form.url() }}
                                </div>
                            </div>

                            <div class="col-auto">
                                {{ url_form.submit }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-columns cards">
                    {% for bookmark in collection %}
                        {% if bookmark.image_url is none %}
                            <div class="card">
                                <div class="card-header bg-transparent">
                                    <a href="{{ bookmark.url }}" class="btn btn-primary btn-sm" target="_blank"><small>{{ bookmark.base_url }}</small></a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title title-body">{{ bookmark.title }}</h6>
                                </div>
                                <div class="card-footer bg-transparent">

                                    <div class="container">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <p class="text-left"><small>Заметки: 0</small></p>
                                            </div>
                                            <div class="col-auto">
                                                <a class="btn btn-outline-dark btn-sm delete" href="#" role="button">Удалить</a>
                                                <!-- <p class="text-right"><small>Удалить</small></p> -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% else %}
                            
                            <div class="card">
                                <img src="{{ bookmark.image_url }}" class="card-img-top card-img" alt="...">
                                <div class="card-img-overlay">
                                    <a href="{{ bookmark.url }}" class="btn btn-primary btn-sm" target="_blank"><small>{{ bookmark.base_url }}</small></a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title title-body">{{ bookmark.title }}</h6>
                                    <!-- <p class="card-text">{{ bookmark.description }}</p> -->
                                </div>
                                <div class="card-footer bg-transparent">

                                    <div class="container">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <p class="text-left"><small>Заметки: 0</small></p>
                                            </div>
                                            <div class="col-auto">
                                                <div class="delete">
                                                    <a class="btn btn-outline-dark btn-sm" href="#" role="button">Удалить</a>
                                                    <!-- <p class="text-right"><small>Удалить</small></p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class="col-3" style="background-color: black;"></div> -->
        </div>
    </div>

{% endblock content%}