<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
    <div class="container-fluid" style="max-width: 70%;">
        <a class="navbar-brand" href="/">Shelve me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('collection.get_followed_bookmarks') }}">Главная</a>
                </li>
                {% if current_user.is_admin %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Reddit Secret</a>
                    </li>
                {% endif %}
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
            </form>

            <ul class="navbar-nav">
                {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.login') }}">Войти</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.registration') }}">Регистрация</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.username }}
                            </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% if current_user.is_admin %}
                                <a class="dropdown-item" href="{{ url_for('admin.admin_index') }}">Админка</a>
                                <a class="dropdown-item" href="/">Reddit Secret</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ url_for('user.logout') }}">Выйти</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>